docker/product.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Product">
    </xs:complexType>
      <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Price" type="xs:integer"/>
      </xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>
